<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jsh.project.security.dao.AuthMapper">	
        <insert id="save" parameterType="java.lang.String">
                INSERT INTO
                        test_member_role_table
                VALUES(
                        test_member_role_table_seq.nextval,
                        #{email},
                        'ROLE_MEMBER'
                )
        </insert>

        <select id="findByEmail" parameterType="java.lang.String" resultType="java.lang.String">
                select 
                        member_role
                FROM 
                        test_member_role_table
                WHERE
                        email = #{userEmail}
        </select>

</mapper>